APPLICATION_NAME=JQuBe
SERVER_PORT=<SERVER_PORT>
GITHUB_OAUTH_CLIENT_ID=<GITHUB_OAUTH_CLIENT_ID>
GITHUB_OAUTH_CLIENT_SECRET=<GITHUB_OAUTH_CLIENT_SECRET>
SPRING_DATASOURCE_URL=<SPRING_DATASOURCE_URL>
SPRING_DATASOURCE_PASSWORD=<SPRING_DATASOURCE_PASSWORD>
SPRING_DATASOURCE_USERNAME=<SPRING_DATASOURCE_USERNAME>
SUPPORT_EMAIL=<SUPPORT_EMAIL>
APP_PASSWORD=<APP_PASSWORD>
JWT_SECRET_KEY=<JWT_SECRET_KEY>
CLIENT_URL=<CLIENT_URL>
GITHUB_REDIRECT_URI=<GITHUB_REDIRECT_URI>
AES_ENCRYPTION_KEY=<AES_ENCRYPTION_KEY>
DOCKERHUB_USERNAME=<DOCKERHUB_USERNAME>
DOCKERHUB_ACCESS_TOKEN=<DOCKERHUB_ACCESS_TOKEN>
